body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.teste2 {
  width: calc(100vw - 250px);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.precos {
    width: 70%;
    margin: 250px 360px 0px 130px;
    display: flex;
    justify-content: space-between;
}