.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 32px;
  border-radius: 12px;
  width: 300px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h3 {
  color: #000;
}

input,
select {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  font-family: inherit;
  background-color: #f8f8f8;
  transition: border-color 0.3s, box-shadow 0.3s;
  color: #222;
}

input:focus,
select:focus {
  border-color: #6a5acd;
  box-shadow: 0 0 0 2px rgba(106, 90, 205, 0.2);
  outline: none;
}

select option {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 8px;
}

.botao-cancelar {
  background-color: #ccc;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  color: #000;
}

.botao-salvar{
  background-color: rgb(31, 70, 143);
  color: #fdfdfd;
}


select {
  color: #000; /* Garante que o texto no select fique preto */
  background-color: #f8f8f8; /* Fundo claro */
}

select option {
  color: #000; /* Garante que as opções também fiquem com texto preto */
  background-color: #fff; /* Fundo branco nas opções */
}

.selecao {
  color: #666 !important; /* Para garantir que a opção "Selecione o turno" fique legível */
  background-color: #f0f0f0;
}